/*Circles should be purple, Squares should be red, Triangles should be yellow, and Rectangles should be green*/

h3 {
    font-size: 1.4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4 {
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#upper {
    columns: 2;
    border: 2px solid darkblue;
}

#inputs {
    display: inline-block;
    position: relative;
    width: 50%;
    background-color: lightblue;
    border: 2px solid darkblue;
}

#information {
    display: inline-block;
    position: relative;
    width: 50%;
    background-color: lightgray;
    border: 2px solid darkgray;
}

#display {
    position: relative;
    height: 600px;
    width: 600px;
    background-color: #ececec;
    border: 4px;
    border-style: solid;
    border-color: black;
    margin-top: 20px;
    overflow: hidden;
}

.circle {
    background-color: purple;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
}

.square {
    background-color: red;
    position: absolute;
    overflow: hidden;
}

.triangle {
    background-color: transparent;
    position: absolute;
    overflow: hidden;
}

.rectangle {
    background-color: green;
    position: absolute;
    overflow: hidden;
}